@model WebClient.Models.ListOrderModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table">
	<thead>
		<tr>
			<th>
				Ngày đặt hàng
			</th>
			<th>
				Ngày giao hàng ước tính
			</th>
			<th>
				Tổng số tiền
			</th>
			<th>
				Tình trạng
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null)
		{
			@foreach (var item in Model.Orders)
			{
				@if (!item.OrderStatus.Trim().Equals("Delete"))
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.OrderDate)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ShippedDate)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Total)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.OrderStatus)
						</td>
						<td>
							<a class="btn btn-primary" href="@Url.Action("OrderDetail", "User", new { orderId = item.OrderId })">Chi tiết</a>
							@if (item.OrderStatus.Trim().Equals("Waiting"))
							{
								<a class="btn btn-danger" href="@Url.Action("OrderDelete", "User", new { orderId = item.OrderId })">Xoá</a>
							}
						</td>
					</tr>
				}
			}
		}
	</tbody>
</table>